.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.button-container {
    display: flex;
    align-items: center;
}

.button {
    margin: 0 5px; 
    padding: 8px 16px;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
}

.button.increment {
    background-color: rgb(26, 30, 87); 
    color: white; 
}

.button.decrement {
    background-color: tomato;
    color: white;
}

.counter {
    margin-left: 30px; 
    margin-right: 30px;
}
